body {
    padding: 10px;
}

.margin {
    margin: 10px;
}

.image {
    float: left;
    max-height:  250px;
    min-height: 250px;
    background-size: cover;
}

.desc {
    max-height: 200px;
    min-height: 200px;
}

.image2 {
    max-width: 1000px;
    max-height: auto;
    margin: 50px
}

