{% extends "auctions/layout.html" %}

{% block body %}

<div class="text-center">
    <div class="card-header">
        {{auction.title}}
    </div>
    <img src="{{auction.url}}" class="img-fluid rounded mx-auto d-block image2" alt={{auction.title}}>
    {% if user.is_authenticated %}
        {% if watchlist %}

        <form action="{% url 'removewatch' id=auction.id %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="auction" value={{auction.id}}>
            <button type="submit" class="btn btn-primary">Remove from Watchlist</button>
        </form>

        {% else %}

        <form action="{% url 'addwatch' id=auction.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Add to Watchlist</button>
        </form>
        {% endif %}
    {% endif %}
    <div class="card-body">
        <p class="card-text">{{auction.text}}</p>
        <a href="#" class="btn btn-primary">Add comment</a>
    </div>
    <div class="card-footer text-muted">
            highest bid:  ${{auction.price}}
            {% if user.is_authenticated %}
            <form action="{% url 'bidding' id=auction.id %}" method="POST">
                {% csrf_token %}
                <input type="number" name="price" placeholder="bid amount" Minimum={{minimum}}>
                <button type="submit" class="btn btn-primary">Bid</button>
            </form>
            {% endif %}
    </div>
</div>



{% endblock %}