{% extends "auctions/layout.html" %}

{% block body %}

<div class="text-center">
    <div class="card-header">
        {{auction.title}}
    </div>
    <img src="{{auction.url}}" class="img-fluid rounded mx-auto d-block image2" alt={{auction.title}}>
    <div class="card-body">
    <div class="card-body">
        <p class="card-text">{{auction.text}}</p>
        <a href="#" class="btn btn-primary">Add comment</a>
        </div>
    <div class="card-footer text-muted">
            highest bid:  ${{auction.price}}
    </div>
</div>



{% endblock %}